body {background-image: url("https://www.teahub.io/photos/full/88-882598_web-design-blue-web-design-background-pattern.jpg");

}
header { background-image: linear-gradient(to right, rgb(8, 108, 76),rgb(13, 13, 83)  ); color:#dcdcab; text-align: center;

}
.sidenav {color: #dcdcab; float: left; display:block; text-align: center; 

}
.sidenav a:hover {
 color:#616102;
}